default_language_version:
  python: python3.11
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.2
    hooks:
      - id: ruff
        args: [--fix]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: &exclusions |
          (?x)^(
            backup/.*
          )$
      - id: end-of-file-fixer
        exclude: *exclusions
      - id: double-quote-string-fixer
        exclude: *exclusions
