version: "3.9"
services:
  rosys:
    network_mode: host
    restart: always
    privileged: true

  detector:
    image: "zauberzeug/yolov5-detector:0.1.3-nlv0.10.12-35.4.1"
    restart: always
    ports:
      - "8004:80"
    hostname: ${ROBOT_ID}
    environment:
      - HOST=learning-loop.ai
      - NVIDIA_VISIBLE_DEVICES=all
      - ORGANIZATION=feldfreund
      - PROJECT=plants
    volumes:
      - ~/data_plants:/data

  monitoring:
    image: "zauberzeug/yolov5-detector:0.1.3-nlv0.10.12-35.4.1"
    restart: always
    ports:
      - "8005:80"
    hostname: ${ROBOT_ID}
    environment:
      - HOST=learning-loop.ai
      - ORGANIZATION=zauberzeug
      - PROJECT=monitoring
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - ~/data_monitoring:/data

  autoheal:
    restart: always
