fiona
geopandas
geopy
git+https://github.com/zauberzeug/rosys.git@3fdfa3c9d2a65e54993663c547877a5cae69b28c
icecream
nicegui == 2.24.1
pillow
prompt-toolkit # for lizard monitor
pynmea2
shapely
uvicorn == 0.28.1
