icecream
pillow
prompt-toolkit # for lizard monitor
pynmea2
geopy
shapely
fiona
geopandas
# rosys == v0.18.1
git+https://github.com/zauberzeug/rosys.git@a16bdb3db89e60e717f4e1cd9f17751b7674b66b#egg=rosys
uvicorn == 0.28.1